<!DOCTYPE HTML>
<html>
<head>
<title>Tutorial Spring boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="estilo.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="container">
	<h1 class="">Mi aplicación</h1>
	<form action="agregarUsuario" method="get">
		<input type="submit" value="Agrega Usuario"  class="btn btn-primary mb-2"/>

	</form>
	<form action="recuperaUsuarios" method="get">
		<input type="submit" value="Listar usuarios"  class="btn btn-primary mb-2"/>
	</form>

</body>
</html>